/* form structure */
.formContainer {
  width: 100%;
  margin: auto;
}

.formTitle {
  width: 100%;
  background-color: #d4d4d4;
  margin: auto auto 20px auto !important;
  padding: 10px 0;
  text-align: center;
}

h1 {
  color: #5c5c5c !important;
  font-size: 20px;
  font-weight: bolder !important;
}

.form {
  margin: 20px auto !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color: #ffffff;
  width: 60%;
  -moz-box-shadow: 20px 10px 3px #ccc;
  -webkit-box-shadow: 20px 10px 3px #ccc;
  box-shadow: 20px 10px 3px #ccc;
}

.ant-row {
  justify-content: center;
}

.dimensionItems {
  width: 30%;
  margin-left: 3% !important;
}

hr {
  padding-left: 8vw;
  border-color: rgba(0, 0, 0, 0.25);
  height: 1px;
  width: 100%;
  margin-bottom: 31px;
}

.clientIcon {
  font-size: 25px !important;
}

.ant-input::placeholder {
  color: #978faf !important;
}

/* formater */
.formaterInput {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 180px;
}

.formaterInput:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

.formaterInput:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

/* button */
.btnContainer .ant-col {
  text-align: right;
}

.btnContainer .btn {
  width: 200px;
  background-color: #001529;
  border-color: #000c18;
}

.btnContainer {
  justify-content: right !important;
  margin: 20px !important;
}

/* sub-title */
.subTitle {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.subTitleHr {
  margin-bottom: 15px;
}

/* checbox */
.checkbox {
  widows: 100%;
}

@media (max-width: 1200px) {
  .form {
    width: 80%;
  }
}

@media (max-width: 780px) {
  .form {
    width: 100%;
    padding: auto 10px !important;
  }
}
