@media (min-width: 780px) {
  .navbar {
    display: none;
  }
}

.navbar {
  background-color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  height: 32px;
  margin-left: 1rem;
}
