/* card */
.productCardGrid {
  width: 50%;
}

.cardContainer {
  width: 100%;
}

.card {
  width: 100%;
  margin: auto !important;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc !important;
}

.cardBtn {
  margin: auto 10px;
}

.card .ant-card-head,
.ant-collapse-header {
  font-weight: bolder;
  font-size: 18px;
  background-color: #ffff;
  color: #383428;
  text-align: center;
}

.ant-card-body {
  padding: 0 !important;
}

.ant-card-grid {
  padding: 0 0 7px 0 !important;
}

.cardImage {
  object-fit: cover;
  width: 100% !important;
  height: 200px;
}

.cardListGrid {
  width: 50% !important;
}

/* collapser */
.collapser {
  width: 50%;
  margin: 10px auto !important;
  background-color: #f0f2f5 !important;
  border: none !important;
}

.ant-collapse-item {
  margin: 10px auto;
}

.ant-collapse-content-box {
  padding: 0 !important;
}

/* list */
.ant-list-item-meta-title,
.ant-list-item-meta-description {
  font-size: 14px !important;
  letter-spacing: 1px;
}

.ant-list-item {
  padding-left: 30px !important;
}

/* btn */
.btnShowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* filter */
.filterContainer {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.filterContainer p {
  margin: auto 5px;
}

@media (max-width: 1300px) {
  .collapser {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .collapser {
    width: 70%;
  }
}

@media (max-width: 780px) {
  .collapser {
    width: 90%;
  }
  .cardListGrid {
    width: 100% !important;
  }
}

@media (max-width: 450px) {
  .ant-card-grid {
    float: none !important;
  }
}
